.user {
  flex: 4;
  padding: 20px;
  .userTitlecontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .useraddButton {
      width: 80px;
      border: none;
      padding: 5px;
      background-color: teal;
      cursor: pointer;
      border-radius: 5px;
      color: white;
      font-size: 16;
    }
  }
  .userConatiner {
    display: flex;
    margin-top: 20px;

    .userShow {
      flex: 1;
      padding: 20px;
      -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
      .userShowtop {
        display: flex;
        align-items: center;

        .userShowImg {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userShowtopTitle {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          .userShowUsername {
            font-weight: 600;
          }
          .userShowUserTitle {
            font-weight: 300;
          }
        }
      }
      .userShowbottom{
        margin-top: 20px;
        .usershowtitle{
            font-size: 14px;
            font-weight: 600;
            color: rgb(175, 170, 170);

        }
        .usershowInfo{
            display: flex;
            align-items: center;
            margin: 20px 0px;
            color: #444;
            .usershowIcon{
                font-size: 16px !important;

            }
            .usershowwinfoTitle{
                margin-left: 10px;
            }
        }
      }
    }
    .userupdate {
      flex: 2;
      padding: 20px;
      -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
      margin-left: 20px;

      .userUpdateTitle{
        font-size: 24px;
        font-weight: 600;
      }
      .userupdateForm{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .userupdateLeft{

          .userupdateItem{
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            .userupdateInput{
              border: none;
              width: 250px;
              border-bottom: 1px solid grey;
              height: 30px;
            }
          }
          .userupdateItem>label{
            margin-bottom: 5px;
            font-size: 14px;
          }
        }
        .userupdateRight{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          
          .userUpdateUpload{
            display: flex;
            align-items: center;

            .userupdateImage{
              width: 100px;
              height: 100px;
              border-radius: 10px;
              object-fit: cover;
              margin-right: 20px;

            }
            .userupdateIcon{
              cursor: pointer;
            }
          }
          .userupdateButton{
            border: none;
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;
            background-color: darkblue;
            color: white;
            font-weight: 600;
          }
        }
      }
    }
  }
}
